/* Main Styles */

body {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #7fdbff;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Extra Details */
/* Checkbox Control */

input[type="checkbox"].control {
    display: none;
}

input[type="checkbox"].control + label + * {
    transition: ease-in-out 0.5s;
}

input[type="checkbox"].control:checked + label::before {
    content: "\2B9F";
}

input[type="checkbox"].control:not(:checked) + label::before {
    content: "\2B9E ";
}

input[type="checkbox"].control:not(:checked) + label + * {
    height: 0;
}

input[type="checkbox"].control:checked + label + * {
    height: 100px;
}

/* Radio Control */

input[type="radio"].control {
    display: none;
}

input[type="radio"].control:checked ~ input[type="radio"].control + * {
    display: none;
}

input[type="radio"].control:not(:checked) + * {
    display: none;
}
